* {box-sizing: border-box;}
        body{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            /* border: 2px solid black; */
            height:auto;
            width: auto;
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 10%;
            margin-bottom: 10%;
            border-radius: 15px;

        }

        .column {
            float: left;
            width: 33%;
            /* border: 1px dashed black; */

        }

        .container:after {
            content: "";
            display: table;
            clear: both;
        }

        #box1 {
            background-color: hsl(31, 77%, 52%);
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 40px;
           
        }

        #box2 {
            background-color: hsl(184, 100%, 22%);
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 40px;
            
        }

        #box3 {
            background-color: hsl(179, 100%, 13%);
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 40px;
            
        }
        .logo{
            width: 100px;
            height: 65px;
        }
        .heading{
            font-family: 'Big Shoulders Display', cursive;
            color: white;
            font-weight: 700;
            font-size: 3rem;
        }
        .text{
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            color: white;
            padding-right: 20px;
            text-align: left;
            
        }
        .button{
            background-color: white;
            border-radius: 25px;
            width:200px;
            height: 50px;
            border: none;
            position: relative;
            top:40px;
            font-family: 'Lexend Deca', sans-serif;
            font-size: 20px;
        }
        button:hover{
            color: white !important;
        }
        #box1 button:hover{
            background-color:hsl(31, 77%, 52%) ;
            border: 2px solid white;
           
        }
        #box2 button:hover{
            background-color: hsl(184, 100%, 22%);
            border: 2px solid white;
        }
        #box3 button:hover{
            background-color: hsl(179, 100%, 13%);
            border: 2px solid white;
        }

        @media screen and (max-width: 750px) {
            .column {
                width: 100%;
            }
        }